* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  background-color: rgb(255, 255, 255);
  font-family: 'Alfa Slab One', cursive;
}

/* button styles*/

button#start{
  text-align: center;
  justify-content: center;
  align-items: center;
    font-weight: bold;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    cursor: pointer;
    font-size: 30pt;
    padding: 10px;
  
}

button#easy, button#medium, button#ironhacker {
  text-align: center;
  justify-content: center;
  align-items: center;
    font-weight: bold;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    cursor: pointer;
    font-size: 30pt;
    padding: 10px;
  
}

button#start:hover, button#easy:hover, button#medium:hover, button#ironhacker:hover {
  background-color: lightgray;
  color: black;
}



/* Basic styles, change according to your style */

#start-page,
#lose-page, #win-page, #instructions-page {
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background-image: url('../img/virusbackground.jpg');
}

#instructions-page {
  height: 500px;
  width: 1000px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background-image: url('../img/virusbackground.jpg');
}

#lose-page, 
#win-page {
  display: none;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url('../img/bodybackground.jpg');
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}

.title {
  font-size: 80px;
  color: wheat;
  letter-spacing: 2px;
}
.title1 {
  font-size: 60px;
  color: red;
  letter-spacing: 2px;
}
.title2 {
  font-size: 60px;
  color: wheat;
  letter-spacing: 2px;
}

.title-win {
  font-size: 70px;
  color: wheat;
  letter-spacing: 2px;
}

.instructions1 {
  font-size: 25px;
  color: wheat;
  letter-spacing: 2px;
}

.instructions {
  font-size: 25px;
  color: wheat;
  letter-spacing: 2px;
}

.span1 {
  font-size: 30px;
  color: red;
}

.span {
  font-size: 80px;
  color: red
}